@model VehicleDetailViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewBag.Title = $"{Model.VehicleOwner.UserName}'s {Model.Vehicle.ModelYear.Year} {Model.Vehicle.ModelYear.Model.Manufacturer.Name} {Model.Vehicle.ModelYear.Model.Name}";
}

<!-- Portfolio Item Heading -->
<h1>
    <h1>@ViewBag.Title</h1>
    @if (UserManager.GetUserName(User) == Model.VehicleOwner.UserName)
    {
        <a asp-controller="Garage" asp-action="EditVehicle" asp-route-vin="@Model.Vehicle.VIN">Edit</a>
    }
    <small>Registered by @Model.VehicleOwner.UserName</small>
</h1>

<!-- Portfolio Item Row -->
<div class="row">

    <div class="col-md-6">
        <img class="img-responsive profile-photo" src="@Model.Vehicle.Image.Uri" alt="">
    </div>

    <div class="col-md-6">
        <h3>Overview</h3>
        <p>@Model.Vehicle.Description</p>
        <h3>Vehicle Details</h3>
        <ul>
            <li><code>Status</code> <span class="btn btn-success">@Model.Vehicle.Status.Name</span></li>
            <li><code>Views</code> @Model.Vehicle.ViewCount</li>
            <li><code>Year</code> @Model.Vehicle.ModelYear.Year</li>
            <li><code>Manufacturer</code> @Model.Vehicle.ModelYear.Model.Manufacturer.Name</li>
            <li><code>Model</code> @Model.Vehicle.ModelYear.Model.Name</li>
            <li><code>Color</code> @Model.Vehicle.Color.Name (@Model.Vehicle.Color.Code)</li>
            <li><code>Transmission</code> @Model.Vehicle.Transmission.Name</li>
        </ul>
    </div>
</div>
<!-- /.row -->
<!-- Related Vehicles Row -->
<h3>Similar Vehicles</h3>

<div class="row">
    <div class="col-md-3 col-sm-6">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/500x300" alt="">
        </a>
    </div>

    <div class="col-md-3 col-sm-6">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/500x300" alt="">
        </a>
    </div>

    <div class="col-md-3 col-sm-6">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/500x300" alt="">
        </a>
    </div>

    <div class="col-md-3 col-sm-6">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/500x300" alt="">
        </a>
    </div>
</div>
<!-- /.row -->