@model VehicleDetailViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewBag.Title = $"{Model.VehicleOwner.UserName}'s {Model.Vehicle.ModelYear.Year} {Model.Vehicle.ModelYear.Model.Manufacturer.Name} {Model.Vehicle.ModelYear.Model.Name}";
}

<div class="jumbotron vehicle-jumbotron" style="background:url('@Model.Vehicle.Image.Uri') no-repeat center; background-size:cover;">
    <h1>@Model.Vehicle.ToString()</h1>
</div>



<div class="row">
    <!-- Side-Panel -->
    <div class="col-sm-3">
        <ul class="list-group">
            <li class="list-group-item text-muted" contenteditable="false">@Model.Vehicle.ToString()</li>
            
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Registered by</strong></span><a href="/@Model.VehicleOwner.UserName">@Model.VehicleOwner.UserName</a></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Join Date</strong></span>@Model.Vehicle.CreatedDate.ToString("MMMM dd, yyyy")</li>
        </ul>

        <ul class="list-group">
            <li class="list-group-item text-muted">
                Vehicle Details <i class="fa fa-dashboard fa-1x"></i>
            </li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Year</strong></span> @Model.Vehicle.ModelYear.Year</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Manufacturer</strong></span> @Model.Vehicle.ModelYear.Model.Manufacturer.Name</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Model</strong></span> @Model.Vehicle.ModelYear.Model.Name</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Color</strong></span> @Model.Vehicle.Color.Name (@Model.Vehicle.Color.Code)</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Transmission</strong></span> @Model.Vehicle.Transmission.Name</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Status</strong></span> @Model.Vehicle.Status.Name</li>
        </ul>
        <div class="panel panel-default">
            <div class="panel-heading">Social Media</div>
            <div class="panel-body">
                <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i>
                <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
            </div>
        </div>
    </div>
    <!--/Side-Panel -->


    <div class="col-sm-9" style="" contenteditable="false">
        <div class="panel panel-default">
            <div class="panel-heading">Vehicle Description</div>
            <div class="panel-body">
                @(!String.IsNullOrEmpty(Model.Vehicle.Description) ? Model.Vehicle.Description : "This user has not entered a description yet.")
            </div>
        </div>
        <div class="panel panel-default target">
            <div class="panel-heading" contenteditable="false">Photos</div>
            <div class="panel-body">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-responsive" src="https://placehold.it/500x300" alt="">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-responsive" src="https://placehold.it/500x300" alt="">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-responsive" src="https://placehold.it/500x300" alt="">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-responsive" src="https://placehold.it/500x300" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="panel panel-default target">
            <div class="panel-heading">Related Vehicles</div>
            <div class="panel-body">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-responsive" src="https://placehold.it/500x300" alt="">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-responsive" src="https://placehold.it/500x300" alt="">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-responsive" src="https://placehold.it/500x300" alt="">
                    </a>
                </div>

                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-responsive" src="https://placehold.it/500x300" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>