@model VehicleDetailViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewBag.Title = $"{Model.VehicleOwner.UserName}'s {Model.Vehicle.ModelYear.Year} {Model.Vehicle.ModelYear.Model.Manufacturer.Name} {Model.Vehicle.ModelYear.Model.Name}";
}


<!-- Portfolio Item Row -->
<div class="row">
    <div class="col-md-6">
        <img class="img-responsive profile-photo img-thumbnail" src="@Model.Vehicle.Image.Uri" alt="">
    </div>

    <div class="col-md-6">
        <h1>@Model.Vehicle.ToString()</h1>

        <div class="col-md-1">
            <div class="profile-photo">

                @if (String.IsNullOrEmpty(Model.VehicleOwner.ProfilePhotoUri))
                {
                    <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                }
                else
                {
                    <img class="avatar" src="@Model.VehicleOwner.ProfilePhotoUri" />
                }
            </div>

        </div>

        <div class="col-md-11">
            <p>Registered by <a href="/@Model.VehicleOwner.UserName">@Model.VehicleOwner.UserName</a></p>
        </div>


        @if (UserManager.GetUserName(User) == Model.VehicleOwner.UserName)
        {
            <a asp-controller="Garage" asp-action="EditVehicle" asp-route-vin="@Model.Vehicle.VIN">Edit</a>
        }
        
        <p>@Model.Vehicle.Description</p>
        <h3>Vehicle Details</h3>
        <ul class="list-unstyled">
            <li>Status @Model.Vehicle.Status.Name</li>
            <li>Views @Model.Vehicle.ViewCount</li>
            <li>Year @Model.Vehicle.ModelYear.Year</li>
            <li>Manufacturer @Model.Vehicle.ModelYear.Model.Manufacturer.Name</li>
            <li>Model @Model.Vehicle.ModelYear.Model.Name</li>
            <li>Color @Model.Vehicle.Color.Name (@Model.Vehicle.Color.Code)</li>
            <li>Transmission @Model.Vehicle.Transmission.Name</li>
            <li>
                <a href="@Model.VehicleOwner.FacebookUri" class="btn btn-simple"><i class="fa fa-facebook-square"></i></a>
            </li>
            <li>
                <a href="@Model.VehicleOwner.InstagramUri" class="btn btn-simple"><i class="fa fa-twitter"></i></a>
            </li>
        </ul>
    </div>
</div>


<!-- Related Vehicles Row -->
<h3>Similar Vehicles</h3>

<div class="row">
    <div class="col-md-3 col-sm-6">
        <a href="#">
            <img class="img-responsive" src="https://placehold.it/500x300" alt="">
        </a>
    </div>

    <div class="col-md-3 col-sm-6">
        <a href="#">
            <img class="img-responsive" src="https://placehold.it/500x300" alt="">
        </a>
    </div>

    <div class="col-md-3 col-sm-6">
        <a href="#">
            <img class="img-responsive" src="https://placehold.it/500x300" alt="">
        </a>
    </div>

    <div class="col-md-3 col-sm-6">
        <a href="#">
            <img class="img-responsive" src="https://placehold.it/500x300" alt="">
        </a>
    </div>
</div>
<!-- /.row -->
