@model VehicleDto;
@{
}


<!-- Portfolio Item Heading -->
<h1 class="my-4">
    <h1>@Model.Year @Model.Manufacturer @Model.Model</h1>
    <small>Registered by @Model.Username</small>
</h1>

<!-- Portfolio Item Row -->
<div class="row">

    <div class="col-md-8">
        <img class="img-responsive" src="@Model.ImageUri" alt="">
    </div>

    <div class="col-md-4">
        <h3 class="my-3">Overview</h3>
        <p>@Model.Description</p>
        <h3 class="my-3">Vehicle Details</h3>
        <ul>
            <li><code>Status</code> @Model.Status</li>
            <li><code>Views</code> @Model.ViewCount</li>
            <li><code>Year</code> @Model.Year</li>
            <li><code>Manufacturer</code> @Model.Manufacturer</li>
            <li><code>Model</code> @Model.Model</li>
            <li><code>Color</code> @Model.ColorName (@Model.ColorCode)</li>
            <li><code>Transmission</code> @Model.Transmission</li>
        </ul>
    </div>

</div>
<!-- /.row -->
<!-- Related Projects Row -->
<h3 class="my-4">Similar Vehicles</h3>

<div class="row">
    <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/500x300" alt="">
        </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/500x300" alt="">
        </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/500x300" alt="">
        </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/500x300" alt="">
        </a>
    </div>

</div>
<!-- /.row -->
