@model RegisterViewModel
@{
    ViewData["Title"] = "Account Registration";
}

<h1>@ViewData["Title"]</h1>

<div class="page-description">
    <p>We're excited for you to join our @SiteSettings.Value.VehiclePlatform community! As a member, you'll enjoy the following features:<p>

    <ul>
        <li>Register your vehicle in our <a asp-action="Registry" asp-controller="Vehicles">official registry</a></li>
        <li>Create an online profile for your vehicle</li>
        <li>Communicate with other @SiteSettings.Value.VehiclePlatform enthusiasts</li>
        <li>Provide feedback on how to enhance this website</li>
    </ul>

    <p>Please note that we do require your vehicle information number (VIN) in order to validate your @SiteSettings.Value.VehiclePlatform. <a id="show-more-info">More info</a></p>

    <div id="more-info">
        <p>Your VIN is <b>only</b> used to help us validate your @SiteSettings.Value.VehiclePlatform. Your VIN is generally located in a few places. The most common are on the top of your dashboard, visible through the windshield or the inside of your driver door sill.</p>
    </div>

</div>


<div class="row">
    <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
        <div class="col-md-6">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" placeholder="What is your email address?"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" placeholder="Password must be at least 8 characters long"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="VIN"></label>
                <input asp-for="VIN" class="form-control" placeholder="Your VIN is a 17 digit identifier specific to your vehicle"/>
                <span asp-validation-for="VIN" class="text-danger"></span>
            </div>

            <div id="vehicle-details">

                
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/registration.js"></script>
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/registration-page.css" />
}