@model UserProfileViewModel

@{
    ViewData["Title"] = $"{Model.VehicleOwner.UserName}'s Profile";
    var ProfilePhotoUri = (!String.IsNullOrEmpty(Model.VehicleOwner.ProfilePhotoUri) ? Model.VehicleOwner.ProfilePhotoUri : "images/default_profile_photo.jpg");
}

<div class="row">
    <div class="col-sm-2">
        <a href="/@Model.VehicleOwner.UserName" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="@ProfilePhotoUri"></a>
    </div>
    <div class="col-sm-10">
        <h1 class="">@Model.VehicleOwner.UserName</h1>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-3">
        <ul class="list-group">
            <li class="list-group-item text-muted" contenteditable="false">Profile</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Joined</strong></span> @Model.VehicleOwner.CreatedDate.ToString("MMMM dd, yyyy")</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Last seen</strong></span> Yesterday</li>
        </ul>
        <!-- Social Media Section-->
        <div class="panel panel-default">
            <div class="panel-heading">
                Social Media <i class="fa fa-link fa-1x"></i>
            </div>
            <div class="panel-body">
                <a href="https://bootply.com" class="">bootply.com</a>
            </div>
        </div>

        <ul class="list-group">
            <li class="list-group-item text-muted">
                Activity <i class="fa fa-dashboard fa-1x"></i>
            </li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Shares</strong></span> 125</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Likes</strong></span> 13</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Posts</strong></span> 37</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Followers</strong></span> 78</li>
        </ul>
        <div class="panel panel-default">
            <div class="panel-heading">Social Media</div>
            <div class="panel-body">
                <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i>
                <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
            </div>
        </div>
    </div>
    <!--/col-3-->
    <div class="col-sm-9" style="" contenteditable="false">
        <div class="panel panel-default">
            <div class="panel-heading">@Model.VehicleOwner.UserName's Bio</div>
            <div class="panel-body">
                @(!String.IsNullOrEmpty(Model.VehicleOwner.ProfileDescription) ? Model.VehicleOwner.ProfileDescription : "This user has not entered a profile description yet.")
            </div>
        </div>
        <div class="panel panel-default target">
            <div class="panel-heading" contenteditable="false">@Model.VehicleOwner.UserName's Registered Vehicles</div>
            <div class="panel-body">
                <div class="row">
                    <partial name="../Home/_VehicleOverviewPartial" model="Model.OwnerVehicles" />
                </div>
            </div>
        </div>
    </div>
</div>