@model RegisterViewModel

<div class="form-group">
    <label asp-for="VIN"></label>
    <input asp-for="VIN" class="form-control" />
    <span asp-validation-for="VIN" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="YearId"></label>
    <select asp-for="YearId" asp-items="@Model.Years" class="form-control"></select>
</div>
<div class="form-group">
    <label asp-for="ManufacturerId"></label>
    <select asp-for="ManufacturerId" asp-items="@Model.Manufacturers" class="form-control"></select>
    <span asp-validation-for="ManufacturerId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="VehicleModelId"></label>
    <select asp-for="VehicleModelId" asp-items="@Model.VehicleModels" class="form-control"></select>
    <span asp-validation-for="VehicleModelId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ColorId"></label>
    <select asp-for="ColorId" asp-items="@Model.ColorChoices" class="form-control"></select>
    <span asp-validation-for="ColorId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="TransmissionId"></label>
    <select asp-for="TransmissionId" asp-items="@Model.TransmissionChoices" class="form-control"></select>
    <span asp-validation-for="TransmissionId" class="text-danger"></span>
</div>